@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
root {
  --primary-color: #0b4d42;
  --footer-bg: #464646;
  --body-color: #f4f4f2;
  --button-hover-state: #14685a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "libre baskerville", "open sans", sans-serif;
  background-color: #f4f4f2;
}
.container {
  width: 100%;
}
.top-bar {
  background: #0b4d42;
  width: 100%;
  height: 30px;
}
.top-bar a {
  color: #f4f4f2;
  text-decoration: none;
  float: right;
  padding-left: 16px;
  padding-right: 24px;
  font-size: 16px;
  margin: 4px;
}
.navbar {
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  padding: 16px 24px;
}
.logo h2 {
  color: #000;
  font-family: "open sans";
  font-size: 32px;
  font-weight: bolder;
  margin: auto;
}
.nav-links {
  display: flex;
  width: 50rem;
  margin-top: 13px;
  margin-bottom: 13px;
  justify-content: end;
}
.nav-links a {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 24px;
  color: #000;
  height: 26px;
  padding-bottom: 8px;
}
.navbar > a:active,
.nav-links > a:hover {
  border-bottom: 3px solid #14685a;
}
.search {
  margin: auto;
  width: 42px;
}
.search a {
  text-decoration: none;
  color: #000;
  text-align: center;
}
