@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
root {
  --primary-color: #0b4d42;
  --footer-bg: #464646;
  --body-color: #f4f4f2;
  --button-hover-state: #14685a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "libre baskerville", "open sans", sans-serif;
  background-color: #f4f4f2;
  overflow-x: hidden;
}
.container {
  width: 100%;
}
.top-bar {
  background: #0b4d42;
  width: 100%;
  height: 30px;
}
.top-bar a {
  color: #f4f4f2;
  text-decoration: none;
  float: right;
  padding-left: 16px;
  padding-right: 24px;
  font-size: 16px;
  margin: 4px;
}
.navbar {
  font-family: "open sans";
  font-weight: 500;
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  padding: 16px 24px;
}
.logo h2 {
  color: #272727;
  font-family: "open sans";
  font-size: 32px;
  font-weight: bolder;
  margin: auto;
}
.nav-links {
  display: flex;
  width: 50rem;
  margin-top: 13px;
  margin-bottom: 13px;
  justify-content: end;
}
.nav-links a {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 24px;
  color: #272727;
  height: 26px;
  padding-bottom: 8px;
}
.navbar > a:active,
.nav-links > a:hover {
  border-bottom: 3px solid #14685a;
}
.search {
  margin: auto;
  width: 42px;
}
.search a {
  text-decoration: none;
  color: #272727;
  text-align: center;
}
.hero {
  width: 100%;
}
.hero img {
  max-width: 100%;
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: -1;
}
.overlay {
  font-family: "libre baskerville";
  position: absolute;
  top: 17.5%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 299px;
}
.overlay h1 {
  position: relative;
  top: 16%;
  left: 10%;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
}
.banner-p {
  position: relative;
  top: 19%;
  left: 10%;
  color: #fff;
  font-size: 20px;
  font-weight: light;
  padding-top: 10px;
  width: 80%;
}
.banner-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 24%;
  left: 10%;
  width: 35%;
  margin-top: 20px;
  font-family: "open sans";
  font-weight: light;
}
.buttons {
  height: 40px;
  width: 200px;
  margin-right: 20px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #14685a;
  color: #fff;
  font-size: 15px;
  font-weight: light;
  cursor: pointer;
}
.buttons:hover {
  background-color: #0b4d42;
}
.events-list {
  display: flex;
  gap: 5%;
  width: 100%;
}
.menu {
  font-family: "open sans";
  margin-left: 8%;
  margin-top: 4%;
  padding: 20px;
  width: 50%;
  background-color: #fff;
  height: 100px;
  box-shadow: rgba(3, 3, 3, 0.05) 0px 1px 2px 0px;
}
.all-events h5 {
  font-size: 16px;
  font-weight: bolder;
}
.menu-para {
  padding-top: 5px;
}
.menu-anchors {
  text-decoration: none;
  color: #14685a;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.menu-anchors:hover {
  color: #0b4d42;
}
.events {
  margin-top: 4%;
}
.events p {
  width: 93%;
  font-family: "open sans";
  font-size: 14px;
}
.events-p > a {
  color: #14685a;
}

.upcoming-events {
  margin-top: 20px;
}
.upcoming-events h2 {
  color: #212529;
  font-size: 28px;
  font-weight: bold;
}
.filter {
  margin-top: 28px;
  display: flex;
  gap: 3%;
}
.filter-name label {
  font-family: "open sans";
  font-size: 14px;
  font-weight: 700;
  color: #212529;
}
.filter-type input {
  height: 25px;
  width: 250px;
  margin-top: 5px;
}
.filter-type select {
  width: 200px;
  height: 27px;
  margin-top: 5px;
  background-color: #fff;
  border-color: #dee2e6;
  border-radius: 4px;
  font-family: "open sans";
  font-size: 16px;
}
.filter button {
  margin-top: 22px;
  padding: 2px;
  background-color: #14685a;
  color: #fff;
  border: none;
  outline: none;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  font-family: "open sans";
  font-size: 16px;
  cursor: pointer;
}
.filter button:hover {
  background-color: #fff;
  color: #14685a;
  border: 1px solid #14685a;
}
.list {
  display: flex;
  gap: 3%;
  margin-top: 60px;
}
.dates {
  font-family: "open sans";
}
.dates p {
  font-size: 14px;
  font-weight: light;
  text-transform: capitalize;
  color: #212529;
}
.dates h3 {
  font-size: 28px;
  margin-left: -4px;
  margin-top: -6px;
  color: #212529;
}
.title p {
  font-family: "open sans";
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 8px;
  width: 100%;
  text-transform: capitalize;
}
.title h3 {
  padding-bottom: 12px;
  margin-top: -2px;
}
.title h3 > a {
  font-family: "libre baskerville";
  font-size: 18px;
  color: #272727;
  text-decoration: none;
  font-weight: 500;
}
.title h3 > a:hover {
  text-decoration: underline;
}
.club a {
  font-family: "open sans";
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 8px;
  width: 100%;
  text-decoration: none;
  color: #272727;
}
.club a:hover {
  text-decoration: underline;
}
.schedule {
  padding-bottom: 100px;
}
.ps {
  width: 100%;
  display: flex;
  gap: 8%;
  width: 100%;
}
.ps > h2 {
  width: 100%;
  padding-left: 100px;
}
